<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Master Suite" parallel="classes" thread-count="4">
    <listeners>
        <listener class-name="listeners.Listeners"/>
    </listeners>
    <parameter name="username" value="koeluser06@testpro.io"/>
    <parameter name="password" value="te$t$tudent"/>
    <parameter name="browser" value="Chrome"/>
    <test name="All tests">
        <classes>
            <class name="pageTests.LoginTest">
                <methods>
                    <include name="loginTest"/>
                    <include name="wrongLoginTest"/>
                    <exclude name="loginTest1"/>
                    <include name="wrongLoginTest1"/>
                    <include name="loginTest2"/>
                    <include name="wrongLoginTest2"/>
                </methods>
            </class>
            <class name="pageTests.LoginTest2">
                <methods>
                    <include name="loginTestx"/>
                    <include name="wrongLoginTestx"/>
                    <include name="loginTest1x"/>
                    <include name="wrongLoginTest1x"/>
                    <include name="loginTest2x"/>
                    <include name="wrongLoginTest2x"/>
                </methods>
            </class>
            <class name="pageTests.PlaylistTest">
                <methods>
                    <include name="createPlaylistTest"/>
                    <include name="renamePlaylistTest"/>
                    <include name="createPlaylistTest1"/>
                    <include name="renamePlaylistTest2"/>
                </methods>
            </class>
            <class name="pageTests.PlaylistTest2">
                <methods>
                    <include name="createPlaylistTestx"/>
                    <include name="renamePlaylistTestx"/>
                    <include name="createPlaylistTest1x"/>
                    <include name="renamePlaylistTest2x"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>